{{!
You can use this template to render any errors on your site if you wish. You do not HAVE to use this, but you can.
Boutta try some conditional logic my dudes
}}

<p class="error">{{message}}</p>
<a href="/" id="research">Search For Another Character</a>