<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/sitestyles.css">
    <style>
      body {
        background-color: {{backgroundColor}};
        color: {{fontColor}};
      }
    </style>
    <title>Lab 10 - Login System</title>
  </head>
  <body>
    {{{body}}}
    <footer>Samara Vassell 20026451</footer>
    <script src="/public/js/form_validate.js" type="module"></script>
  </body>
</html>